<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCJPA:war">
    <output-path>$PROJECT_DIR$/FrameIntegration/SpringMVCJPA/target</output-path>
    <root id="archive" name="SpringMVCJPA.war">
      <element id="artifact" artifact-name="SpringMVCJPA:war exploded" />
    </root>
  </artifact>
</component>